<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      .bg-yellow {
        background-color: yellow;
        color: black;
      }
    </style>

    <title>File Upload</title>
  </head>

  <body>
    <section class="header" style="height: 10vh;background-color: black;">
      <h3 class="header-heading ml-5 p-3" style="color:white">
        AMNET Sytems Project
      </h3>
    </section>
    <div class="container mt-5">
      {% if messages %} {% for m in messages %}
      <div class="alert alert-dismissible alert-primary">
        <strong>{{m}}</strong>
      </div>
      {% endfor %} {% endif %}

      <div class="jumbotron">
        <h1>Upload a PDF or XML file</h1>
        <form
          enctype="multipart/form-data"
          action="{% url 'home' %}"
          method="POST"
        >
          <!-- <div class="form-group">
          <label for="{{form.file_name.id_for_label}}">File Name</label>
          {{form.file_name}}
        </div> -->
          <div class="form-group">
            <label for="{{form.files.id_for_label}}">Select File</label>
            {{form.files}}
          </div>
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Sr. No.</th>
            <th>Name</th>
            <th>File Name</th>
          </tr>
        </thead>

        <tbody>
          {% if data %} {% for d in data %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{d.file_name}}</td>
            <td>
              <!-- <a href="{{d.up_file.url}}" target="_blank">{{d.up_file}}</a> -->
              {{d.up_file}}
            </td>
            <td></td>
          </tr>
          {% endfor %} {% else %}
          <tr>
            <td>No Files are There</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      {% if data %}
      <div class="row">
        <div class="col-6">
          <a href="/m-dash">
            <button class="btn btn-secondary">
              View Files
            </button>
          </a>
        </div>
        <div class="col-6">
          <form action="actionUrl" method="GET">
            <button class="btn btn-secondary" type="submit">Delete all</button>
          </form>
        </div>
      </div>
      {% endif %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
