{% extends 'main.html' %} {% block content %}

<div class="card maincard">
  <div class="card-body">
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mdash' %}">M dash</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            >Junk Characters</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pageno' %}">Page Numbers</a>
        </li>
      </ul>
    </nav>

    <section>
      <div class="insideCard">
        <div class="card cardin">
          <div class="card-body">
            This is where we are going to show Junk Characters results
          </div>
          <a href="/">
            <button
              class="btn btn-secondary mb-2 mr-2 float-right"
              type="submit"
            >
              Back To HomePage
            </button>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
