{% extends 'main.html' %} {% block content %}

<div class="card maincard">
  <div class="card-body">
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mdash' %}">em dash</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            >Junk Characters</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pageno' %}">Page Numbers</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'alphaOrder' %}">Order Check</a>
        </li>
      </ul>
    </nav>

    <section>
      <div class="insideCard">
        <div class="card cardin">
          <div class="card-body">
            <div class="row p-1">
              <div class=" col-6">
                <div
                  class="pdfData d"
                  style="height: 22.5em; overflow: auto; padding: 10px;"
                >
                  {% if pdfAvailable %} {{pdfData | safe}} {% else %} There is
                  no pdf! {% endif %}
                </div>
              </div>
              <div class="col-6 ">
                <div class="errors " style="height: 22.5em;">
                  <div
                    class="card"
                    style="width: 40rem; height: 100%; border-radius: 10px;"
                  >

                    <div class="card-body">
                      <h5 class="card-title">
                        Total number of Junk Characters in the PDF: {{count}}
                      </h5>
                      <hr />
                      {% if pdfAvailable %}
                      <p>There are {{Junk_count}} junk characters in the pdf</p>

                      {% else %} There is no pdf! {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="/">
            <button class="btn btn-secondary mt-5 float-right" type="submit">
              Back To HomePage
            </button>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
