{% extends 'main.html' %} {% block content %}

<div class="card maincard">
  <div class="card-body">
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mdash' %}">en-dash</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="{% url 'junkchar' %}">Junk Characters</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            >Page Numbers</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'alphaOrder' %}"
            >Order Check</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="{% url 'missingpages' %}"
            >Folio Log</a
          >
        </li>
      </ul>
    </nav>

    <section>
      <div class="insideCard">
        <div class="card cardin pre-scrollable">
          <div class="card-body ">
            {% if xmlAvailable %} Issues On Page Nos: {{data}} {% endif %}

            <hr />
            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>Chapter Name</th>
                  <th>Page No in TOC</th>
                  <th>Page number in main text</th>
                </tr>
              </thead>

              <tbody>
                {% if xmlAvailable %} {% for name,page in chapterData %}
                <tr>
                  <td>{{name}}</td>
                  <td>{{page}}</td>
                  <td></td>
                </tr>
                {% endfor %} {% else %}
                <tr>
                  <td>There is No XML FIle</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <a href="/">
          <button class="btn btn-secondary mt-2 mr-2 float-right" type="submit">
            Back To HomePage
          </button>
        </a>
      </div>
    </section>
  </div>
</div>
{% endblock %}
