{% extends 'main.html' %} {% block content %}

<div class="card maincard">
  <div class="card-body">
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mdash' %}">M dash</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'junkchar' %}">Junk Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            >Page Numbers</a
          >
        </li>
      </ul>
    </nav>

    <section>
      <div class="insideCard">
        <div class="card cardin">
          <div class="card-body">
            This is where we are going to show Page Numbers results
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
